body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom right, #1c1c1c, #050505);
}

/* TEXTO SUPERIOR */
.scrolling-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

.rail {
  display: flex;
}

.rail h4 {
  white-space: nowrap;
  font-size: 60px;
  font-weight: 900;
  margin-right: 60px;
  color: white;
  opacity: 0.08;
}
